.main_grid {
    margin: auto;   
    width: 100%;
}

.addTitle {
     font-weight: bold;
     font-size: 3rem;
     text-align: center;
}

.notfound {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}